@import '@fairys/admin-tools-react/lib/styles/index.css';

html,
body,
#root {
  height: auto !important;
  width: auto !important;
}

.fairys_admin_modal_base_overlay,
.fairys_admin_drawer_base_overlay {
  z-index: 999;
}
