.dark .fairys_admin_full_screen {
  /* fairys:bg-white fairys:dark:bg-gray-800 */
  --fairys-admin-full-screen-bg-color: var(--fairys-color-gray-800);
  /*  fairys:text-white fairys:dark:hover:text-neutral-300 */
  --fairys-admin-full-screen-close-text-color: var(--fairys-color-white);
  --fairys-admin-full-screen-close-hover-text-color: var(--fairys-color-neutral-300);
}

.light .fairys_admin_full_screen {
  /* fairys:bg-white fairys:dark:bg-gray-800 */
  --fairys-admin-full-screen-bg-color: var(--fairys-color-white);
  /*  fairys:text-white fairys:dark:hover:text-neutral-300 */
  --fairys-admin-full-screen-close-text-color: var(--fairys-color-white);
  --fairys-admin-full-screen-close-hover-text-color: var(--fairys-color-white);
}
.fairys_admin_full_screen {
  /* fairys:bg-neutral-500 fairys:hover:bg-neutral-600 */
  --fairys-admin-full-screen-close-bg-color: var(--fairys-color-neutral-500);
  --fairys-admin-full-screen-close-hover-bg-color: var(--fairys-color-neutral-600);
}

.fairys_admin_full_screen.open {
  background-color: var(--fairys-admin-full-screen-bg-color);
}

.fairys_admin_full_screen_close {
  background-color: var(--fairys-admin-full-screen-close-bg-color);
  color: var(--fairys-admin-full-screen-close-text-color);
}
.fairys_admin_full_screen_close:hover {
  background-color: var(--fairys-admin-full-screen-close-hover-bg-color);
  color: var(--fairys-admin-full-screen-close-hover-text-color);
}
