.dark {
  /* 'fairys:text-white': selected, 'fairys:text-gray-600 fairys:dark:text-gray-400': !selected, */
  --fairys-admin-tabs-text-color: var(--fairys-color-400);
  --fairys-admin-tabs-active-text-color: var(--fairys-color-white);
}

.light {
  --fairys-admin-tabs-text-color: var(--fairys-color-600);
  --fairys-admin-tabs-active-text-color: var(--fairys-color-white);
}

.fairys_admin_tabs .fairys_admin_tabs_item {
  color: var(--fairys-admin-tabs-text-color);
}
.fairys_admin_tabs .fairys_admin_tabs_item.active {
  color: var(--fairys-admin-tabs-active-text-color);
}
