.dark.fairys_admin_modal_base_overlay {
  /* fairys:bg-white fairys:dark:bg-gray-800! */
  --fairys-admin-modal-base-bg-color: var(--fairys-color-gray-800);
  /* fairys:text-gray-400 fairys:hover:text-gray-500 fairys:dark:hover:text-gray-300 */
  --fairys-admin-modal-base-close-hover-text-color: var(--fairys-color-gray-300);
}

.light.fairys_admin_modal_base_overlay {
  /* fairys:bg-white fairys:dark:bg-gray-800! */
  --fairys-admin-modal-base-bg-color: var(--fairys-color-white);
  /* fairys:text-gray-400 fairys:hover:text-gray-500 fairys:dark:hover:text-gray-300 */
  --fairys-admin-modal-base-close-hover-text-color: var(--fairys-color-gray-500);
}

.fairys_admin_modal_base_overlay .fairys_admin_modal_base_close {
  color: var(--fairys-admin-modal-base-close-text-color);
}
.fairys_admin_modal_base_overlay .fairys_admin_modal_base,
.fairys_admin_modal_base_overlay .fairys_admin_drawer_base_drawer {
  background-color: var(--fairys-admin-modal-base-bg-color) !important;
}
