.dark .fairys_admin_menu_item_base {
  /* fairys:text-gray-600 fairys:hover:text-gray-700 fairys:dark:text-gray-400 fairys:dark:hover:text-gray-300 fairys:dark:hover:bg-gray-700 fairys:hover:bg-gray-100 */
  --fairys-admin-menu-item-base-text-color: var(--fairys-color-gray-400);
  --fairys-admin-menu-item-base-hover-text-color: var(--fairys-color-gray-300);
  --fairys-admin-menu-item-base-hover-bg-color: var(--fairys-color-gray-700);
  /* fairys:text-gray-400 fairys:hover:text-gray-600 fairys:dark:hover:text-white fairys:dark:text-gray-500 */
  --fairys-admin-menu-item-base-close-text-color: var(--fairys-color-gray-500);
  --fairys-admin-menu-item-base-close-hover-text-color: var(--fairys-color-white);
}

.light .fairys_admin_menu_item_base {
  /* fairys:text-gray-600 fairys:hover:text-gray-700 fairys:dark:text-gray-400 fairys:dark:hover:text-gray-300 fairys:dark:hover:bg-gray-700 fairys:hover:bg-gray-100 */
  --fairys-admin-menu-item-base-text-color: var(--fairys-color-gray-600);
  --fairys-admin-menu-item-base-hover-text-color: var(--fairys-color-gray-700);
  --fairys-admin-menu-item-base-hover-bg-color: var(--fairys-color-gray-100);
  /* fairys:text-gray-400 fairys:hover:text-gray-600 fairys:dark:hover:text-white fairys:dark:text-gray-500 */
  --fairys-admin-menu-item-base-close-text-color: var(--fairys-color-gray-400);
  --fairys-admin-menu-item-base-close-hover-text-color: var(--fairys-color-gray-600);
}

.fairys_admin_menu_item_base {
  /* 选中的时候 */
  --fairys-admin-menu-item-base-active-text-color: var(--fairys-color-white);
  --fairys-admin-menu-item-base-active-bg-color: var(--fairys-theme-color);
}
