html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 14px;
}

@import 'tailwindcss/theme' prefix(fairys);
@import 'tailwindcss/utilities' prefix(fairys);
@import './../avatar/variables.css';
@import './../setting/variables.css';
@import './../components/breadcrumb/variables.css';
@import './../components/button/variables.css';
@import './../components/enter-loading/variables.css';
@import './../components/menu/variables.css';
@import './../components/full-screen/variables.css';
@import './../components/main-page/variables.css';
@import './../components/notification/variables.css';
@import './../components/popover-base/variables.css';
@import './../components/popover-menu/variables.css';
@import './../components/tabs/variables.css';
@import './../layout/header/variables.css';
@import './../layout/sider/variables.css';
@import './../layout/tab-bar/variables.css';
@import './../layout/tool-bar/variables.css';
@import './../components/modal-base/variables.css';
@import './../components/login/variables.css';

@plugin "@iconify/tailwind4";

@theme static {
  --box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  --theme-color: var(--color-blue-500, oklch(62.3% 0.214 259.815));
  --bg-modal: oklch(27.8% 0.033 256.848 /0.5);
}

@layer base {
  .dark {
    /* fairys:border-gray-100 fairys:dark:border-gray-600 */
    --fairys-admin-popover_border-color: var(--fairys-color-gray-600);
    /* fairys:border-gray-200 fairys:dark:border-gray-600 */
    --fairys-admin-component_border-color: var(--fairys-color-gray-600);
    /* fairys:border-gray-200 fairys:dark:border-gray-800 */
    --fairys-admin-other_border-color: var(--fairys-color-gray-800);

    background-color: black;
    color: var(--fairys-color-gray-400);
    transition-property: all;
    transition-timing-function: var(--tw-ease, var(--fairys-default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--fairys-default-transition-duration));
  }
  .light {
    /* fairys:border-gray-100 fairys:dark:border-gray-600 */
    --fairys-admin-popover_border-color: var(--fairys-color-gray-100);
    /* fairys:border-gray-200 fairys:dark:border-gray-600 */
    --fairys-admin-component_border-color: var(--fairys-color-gray-200);
    /* fairys:border-gray-200 fairys:dark:border-gray-800 */
    --fairys-admin-other_border-color: var(--fairys-color-gray-200);

    background-color: white;
    color: var(--fairys-color-gray-950);
    transition-property: all;
    transition-timing-function: var(--tw-ease, var(--fairys-default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--fairys-default-transition-duration));
  }

  .ka-wrapper,
  .ka-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  * {
    box-sizing: border-box;
  }
}

@custom-variant dark (&:where(.dark));
@custom-variant light (&:where(.light));

@layer components {
  /* 主题样式 */

  /* ================================================================================================== */

  .no-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  .fairys_button_base,
  .fairys_input_base {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: transparent;
    border-radius: 0;
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  .fairys_max_w_modal {
    max-width: calc(100vw - calc(var(--fairys-spacing) * 8));
  }

  .fairys_admin_tab_bar .fairys_admin_tab_bar_item:not(:first-child)::before {
    content: '';
    width: 1px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--fairys-color-gray-300);
    height: 45%;
    transition: background-color 0.3s ease-in-out;
  }

  .fairys_admin_tab_bar .fairys_admin_tab_bar_item:not(:first-child):where(.dark, .dark *):before {
    background-color: var(--fairys-color-gray-600);
  }

  .fairys_admin_tab_bar .fairys_admin_tab_bar_item.active::before,
  .fairys_admin_tab_bar .fairys_admin_tab_bar_item.active + .fairys_admin_tab_bar_item::before {
    background-color: transparent !important;
  }

  .fairys_admin_breadcrumb.bg .fairys_admin_breadcrumb_item {
    -webkit-clip-path: polygon(calc(100% - 8px) 0%, 100% 50%, calc(100% - 8px) 100%, 0% 100%, 8px 50%, 0% 0%);
    clip-path: polygon(calc(100% - 8px) 0%, 100% 50%, calc(100% - 8px) 100%, 0% 100%, 8px 50%, 0% 0%);
  }

  .fairys_admin_breadcrumb.slash .fairys_admin_breadcrumb_item::after {
    content: '/';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: var(--fairys-color-gray-200);
    display: flex;
    align-items: center;
  }

  .fairys_admin_breadcrumb.bg .fairys_admin_breadcrumb_item:first-child {
    -webkit-clip-path: polygon(0% 0%, calc(100% - 8px) 0%, 100% 50%, calc(100% - 8px) 100%, 0% 100%);
    clip-path: polygon(0% 0%, calc(100% - 8px) 0%, 100% 50%, calc(100% - 8px) 100%, 0% 100%);
  }

  .fairys_admin_breadcrumb.bg .fairys_admin_breadcrumb_item:last-child {
    -webkit-clip-path: polygon(0% 0%, 100% 1%, 100% 100%, 0% 100%, 8px 50%);
    clip-path: polygon(0% 0%, 100% 1%, 100% 100%, 0% 100%, 8px 50%);
  }
  .fairys_admin_breadcrumb.slash .fairys_admin_breadcrumb_item:last-child::after {
    content: '';
    display: none;
  }

  .fairys_admin_breadcrumb.bg .fairys_admin_breadcrumb_item:only-child {
    -webkit-clip-path: none;
    clip-path: none;
  }

  .fairys_admin_down_up_icon {
    --un-translate-x: 0;
    --un-translate-z: 0;
    --un-translate-y: 0;
    --un-rotate: 0;
    --un-rotate-x: 0;
    --un-rotate-y: 0;
    --un-rotate-z: 0;
    --un-skew-x: 0;
    --un-skew-y: 0;
    --un-scale-x: 1;
    --un-scale-y: 1;
    --un-scale-z: 1;
  }

  .fairys_admin_down_up_icon > div:after,
  .fairys_admin_down_up_icon > div:before {
    content: '';
    position: absolute;
    height: 1.5px;
    width: 6px;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    --un-translate-y: -1px;
    transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z))
      rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z))
      skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
      scaleZ(var(--un-scale-z));
  }

  .fairys_admin_down_up_icon > div.close:before {
    --un-rotate-x: 0;
    --un-rotate-y: 0;
    --un-rotate-z: 0;
    --un-rotate: 45deg;

    --un-translate-x: -2px;
    transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z))
      rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z))
      skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
      scaleZ(var(--un-scale-z));
  }

  .fairys_admin_down_up_icon > div.close:after {
    --un-rotate-x: 0;
    --un-rotate-y: 0;
    --un-rotate-z: 0;
    --un-rotate: -45deg;

    --un-translate-x: 2px;
    transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z))
      rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z))
      skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
      scaleZ(var(--un-scale-z));
  }

  .fairys_admin_down_up_icon > div.expand:before {
    --un-rotate-x: 0;
    --un-rotate-y: 0;
    --un-rotate-z: 0;
    --un-rotate: -45deg;

    --un-translate-x: -2px;
    transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z))
      rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z))
      skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
      scaleZ(var(--un-scale-z));
  }

  .fairys_admin_down_up_icon > div.expand:after {
    --un-rotate-x: 0;
    --un-rotate-y: 0;
    --un-rotate-z: 0;
    --un-rotate: 45deg;

    --un-translate-x: 2px;
    transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z))
      rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z))
      skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
      scaleZ(var(--un-scale-z));
  }

  .fairys_admin_full_screen_close {
    clip-path: inset(0% 0% 0% 0% round 0% 0% 0% 100%);
  }

  .fairys-spin {
    -webkit-animation: loadingCircle 1s infinite linear;
    animation: loadingCircle 1s infinite linear;
  }

  @keyframes loadingCircle {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
