html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 14px;
}

@import 'tailwindcss/theme' prefix(fairys);
@import 'tailwindcss/utilities' prefix(fairys);

@plugin "@iconify/tailwind4";

@theme static {
  --box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02), 0 2px 4px 0 rgba(0, 0, 0, 0.02);
  --theme-color: var(--color-blue-500, oklch(62.3% 0.214 259.815));
  --bg-modal: oklch(27.8% 0.033 256.848 /0.5);
  --enter-loading-transform-color: #00a98e;
}

@layer base {
  .dark {
    background-color: black;
    color: var(--fairys-color-gray-400);
    transition-property: all;
    transition-timing-function: var(--tw-ease, var(--fairys-default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--fairys-default-transition-duration));
  }

  .ka-wrapper,
  .ka-content {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  * {
    box-sizing: border-box;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  /* 关注图标 */
  .fairys\:icon-\[material-symbols--family-star\] {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 16q1.2 0 2.138-.712T15.5 13.45h-7q.425 1.125 1.363 1.838T12 16m-2.5-4q.625 0 1.063-.437T11 10.5t-.437-1.062T9.5 9t-1.062.438T8 10.5t.438 1.063T9.5 12m5 0q.625 0 1.063-.437T16 10.5t-.437-1.062T14.5 9t-1.062.438T13 10.5t.438 1.063T14.5 12M7.625 6.4l2.8-3.625q.3-.4.713-.587T12 2t.863.188t.712.587l2.8 3.625l4.25 1.425q.65.2 1.025.738t.375 1.187q0 .3-.088.6t-.287.575l-2.75 3.9l.1 4.1q.025.875-.575 1.475t-1.4.6q-.05 0-.55-.075L12 19.675l-4.475 1.25q-.125.05-.275.063T6.975 21q-.8 0-1.4-.6T5 18.925l.1-4.125l-2.725-3.875q-.2-.275-.288-.575T2 9.75q0-.625.363-1.162t1.012-.763z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  /* 重新加载 */
  .fairys\:icon-\[ri--refresh-line\] {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M5.463 4.433A9.96 9.96 0 0 1 12 2c5.523 0 10 4.477 10 10c0 2.136-.67 4.116-1.81 5.74L17 12h3A8 8 0 0 0 6.46 6.228zm13.074 15.134A9.96 9.96 0 0 1 12 22C6.477 22 2 17.523 2 12c0-2.136.67-4.116 1.81-5.74L7 12H4a8 8 0 0 0 13.54 5.772z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  /* 关闭标签 */
  .fairys\:icon-\[ri-close-line\] {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m12 10.587l4.95-4.95l1.414 1.414l-4.95 4.95l4.95 4.95l-1.415 1.414l-4.95-4.95l-4.949 4.95l-1.414-1.415l4.95-4.95l-4.95-4.95L7.05 5.638z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  /* 最大化 */
  .fairys\:icon-\[ant-design--expand-outlined\] {
    display: inline-block;
    width: 1024px;
    height: 1024px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23000' d='M342 88H120c-17.7 0-32 14.3-32 32v224c0 8.8 7.2 16 16 16h48c8.8 0 16-7.2 16-16V168h174c8.8 0 16-7.2 16-16v-48c0-8.8-7.2-16-16-16m578 576h-48c-8.8 0-16 7.2-16 16v176H682c-8.8 0-16 7.2-16 16v48c0 8.8 7.2 16 16 16h222c17.7 0 32-14.3 32-32V680c0-8.8-7.2-16-16-16M342 856H168V680c0-8.8-7.2-16-16-16h-48c-8.8 0-16 7.2-16 16v224c0 17.7 14.3 32 32 32h222c8.8 0 16-7.2 16-16v-48c0-8.8-7.2-16-16-16M904 88H682c-8.8 0-16 7.2-16 16v48c0 8.8 7.2 16 16 16h174v176c0 8.8 7.2 16 16 16h48c8.8 0 16-7.2 16-16V120c0-17.7-14.3-32-32-32'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  /* 新窗口打开 */
  .fairys\:icon-\[ant-design--credit-card-outlined\] {
    display: inline-block;
    width: 1024px;
    height: 1024px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23000' d='M928 160H96c-17.7 0-32 14.3-32 32v640c0 17.7 14.3 32 32 32h832c17.7 0 32-14.3 32-32V192c0-17.7-14.3-32-32-32m-792 72h752v120H136zm752 560H136V440h752zm-237-64h165c4.4 0 8-3.6 8-8v-72c0-4.4-3.6-8-8-8H651c-4.4 0-8 3.6-8 8v72c0 4.4 3.6 8 8 8'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .fairys\:icon-\[mdi--close\] {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19 6.41L17.59 5L12 10.59L6.41 5L5 6.41L10.59 12L5 17.59L6.41 19L12 13.41L17.59 19L19 17.59L13.41 12z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .fairys\:icon-\[mdi--arrow-expand-left\] {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M20 22h2V2h-2v9H5.83l5.5-5.5l-1.41-1.42L2 12l7.92 7.92l1.41-1.42l-5.5-5.5H20z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .fairys\:icon-\[mdi--arrow-expand-right\] {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4 2H2v20h2v-9h14.17l-5.5 5.5l1.41 1.42L22 12l-7.92-7.92l-1.41 1.42l5.5 5.5H4z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .fairys\:icon-\[ant-design--home-outlined\] {
    display: inline-block;
    width: 1024px;
    height: 1024px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23000' d='M946.5 505L560.1 118.8l-25.9-25.9a31.5 31.5 0 0 0-44.4 0L77.5 505a63.9 63.9 0 0 0-18.8 46c.4 35.2 29.7 63.3 64.9 63.3h42.5V940h691.8V614.3h43.4c17.1 0 33.2-6.7 45.3-18.8a63.6 63.6 0 0 0 18.7-45.3c0-17-6.7-33.1-18.8-45.2M568 868H456V664h112zm217.9-325.7V868H632V640c0-22.1-17.9-40-40-40H432c-22.1 0-40 17.9-40 40v228H238.1V542.3h-96l370-369.7l23.1 23.1L882 542.3z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .fairys\:icon-\[ant-design--setting-outlined\] {
    display: inline-block;
    width: 1024px;
    height: 1024px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23000' d='m924.8 625.7l-65.5-56c3.1-19 4.7-38.4 4.7-57.8s-1.6-38.8-4.7-57.8l65.5-56a32.03 32.03 0 0 0 9.3-35.2l-.9-2.6a443.7 443.7 0 0 0-79.7-137.9l-1.8-2.1a32.12 32.12 0 0 0-35.1-9.5l-81.3 28.9c-30-24.6-63.5-44-99.7-57.6l-15.7-85a32.05 32.05 0 0 0-25.8-25.7l-2.7-.5c-52.1-9.4-106.9-9.4-159 0l-2.7.5a32.05 32.05 0 0 0-25.8 25.7l-15.8 85.4a351.9 351.9 0 0 0-99 57.4l-81.9-29.1a32 32 0 0 0-35.1 9.5l-1.8 2.1a446 446 0 0 0-79.7 137.9l-.9 2.6c-4.5 12.5-.8 26.5 9.3 35.2l66.3 56.6c-3.1 18.8-4.6 38-4.6 57.1c0 19.2 1.5 38.4 4.6 57.1L99 625.5a32.03 32.03 0 0 0-9.3 35.2l.9 2.6c18.1 50.4 44.9 96.9 79.7 137.9l1.8 2.1a32.12 32.12 0 0 0 35.1 9.5l81.9-29.1c29.8 24.5 63.1 43.9 99 57.4l15.8 85.4a32.05 32.05 0 0 0 25.8 25.7l2.7.5a449.4 449.4 0 0 0 159 0l2.7-.5a32.05 32.05 0 0 0 25.8-25.7l15.7-85a350 350 0 0 0 99.7-57.6l81.3 28.9a32 32 0 0 0 35.1-9.5l1.8-2.1c34.8-41.1 61.6-87.5 79.7-137.9l.9-2.6c4.5-12.3.8-26.3-9.3-35M788.3 465.9c2.5 15.1 3.8 30.6 3.8 46.1s-1.3 31-3.8 46.1l-6.6 40.1l74.7 63.9a370 370 0 0 1-42.6 73.6L721 702.8l-31.4 25.8c-23.9 19.6-50.5 35-79.3 45.8l-38.1 14.3l-17.9 97a377.5 377.5 0 0 1-85 0l-17.9-97.2l-37.8-14.5c-28.5-10.8-55-26.2-78.7-45.7l-31.4-25.9l-93.4 33.2c-17-22.9-31.2-47.6-42.6-73.6l75.5-64.5l-6.5-40c-2.4-14.9-3.7-30.3-3.7-45.5c0-15.3 1.2-30.6 3.7-45.5l6.5-40l-75.5-64.5c11.3-26.1 25.6-50.7 42.6-73.6l93.4 33.2l31.4-25.9c23.7-19.5 50.2-34.9 78.7-45.7l37.9-14.3l17.9-97.2c28.1-3.2 56.8-3.2 85 0l17.9 97l38.1 14.3c28.7 10.8 55.4 26.2 79.3 45.8l31.4 25.8l92.8-32.9c17 22.9 31.2 47.6 42.6 73.6L781.8 426zM512 326c-97.2 0-176 78.8-176 176s78.8 176 176 176s176-78.8 176-176s-78.8-176-176-176m79.2 255.2A111.6 111.6 0 0 1 512 614c-29.9 0-58-11.7-79.2-32.8A111.6 111.6 0 0 1 400 502c0-29.9 11.7-58 32.8-79.2C454 401.6 482.1 390 512 390s58 11.6 79.2 32.8A111.6 111.6 0 0 1 624 502c0 29.9-11.7 58-32.8 79.2'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .fairys\:icon-\[ant-design--logout-outlined\] {
    display: inline-block;
    width: 1024px;
    height: 1024px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='%23000' d='M868 732h-70.3c-4.8 0-9.3 2.1-12.3 5.8c-7 8.5-14.5 16.7-22.4 24.5a353.8 353.8 0 0 1-112.7 75.9A352.8 352.8 0 0 1 512.4 866c-47.9 0-94.3-9.4-137.9-27.8a353.8 353.8 0 0 1-112.7-75.9a353.3 353.3 0 0 1-76-112.5C167.3 606.2 158 559.9 158 512s9.4-94.2 27.8-137.8c17.8-42.1 43.4-80 76-112.5s70.5-58.1 112.7-75.9c43.6-18.4 90-27.8 137.9-27.8s94.3 9.3 137.9 27.8c42.2 17.8 80.1 43.4 112.7 75.9c7.9 7.9 15.3 16.1 22.4 24.5c3 3.7 7.6 5.8 12.3 5.8H868c6.3 0 10.2-7 6.7-12.3C798 160.5 663.8 81.6 511.3 82C271.7 82.6 79.6 277.1 82 516.4C84.4 751.9 276.2 942 512.4 942c152.1 0 285.7-78.8 362.3-197.7c3.4-5.3-.4-12.3-6.7-12.3m88.9-226.3L815 393.7c-5.3-4.2-13-.4-13 6.3v76H488c-4.4 0-8 3.6-8 8v56c0 4.4 3.6 8 8 8h314v76c0 6.7 7.8 10.5 13 6.3l141.9-112a8 8 0 0 0 0-12.6'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }

  .no-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  .fairys_button_base,
  .fairys_input_base {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: transparent;
    border-radius: 0;
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  .fairys_max_w_modal {
    max-width: calc(100vw - calc(var(--fairys-spacing) * 8));
  }

  .fairys_admin_tab_bar .fairys_admin_tab_bar_item:not(:first-child)::before {
    content: '';
    width: 1px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--fairys-color-gray-300);
    height: 45%;
    transition: background-color 0.3s ease-in-out;
  }

  .fairys_admin_tab_bar .fairys_admin_tab_bar_item:not(:first-child):where(.dark, .dark *):before {
    background-color: var(--fairys-color-gray-600);
  }

  .fairys_admin_tab_bar .fairys_admin_tab_bar_item.active::before,
  .fairys_admin_tab_bar .fairys_admin_tab_bar_item.active + .fairys_admin_tab_bar_item::before {
    background-color: transparent !important;
  }

  .fairys_admin_breadcrumb.bg .fairys_admin_breadcrumb_item {
    -webkit-clip-path: polygon(calc(100% - 8px) 0%, 100% 50%, calc(100% - 8px) 100%, 0% 100%, 8px 50%, 0% 0%);
    clip-path: polygon(calc(100% - 8px) 0%, 100% 50%, calc(100% - 8px) 100%, 0% 100%, 8px 50%, 0% 0%);
  }

  .fairys_admin_breadcrumb.slash .fairys_admin_breadcrumb_item::after {
    content: '/';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: var(--fairys-color-gray-200);
    display: flex;
    align-items: center;
  }

  .fairys_admin_breadcrumb.bg .fairys_admin_breadcrumb_item:first-child {
    -webkit-clip-path: polygon(0% 0%, calc(100% - 8px) 0%, 100% 50%, calc(100% - 8px) 100%, 0% 100%);
    clip-path: polygon(0% 0%, calc(100% - 8px) 0%, 100% 50%, calc(100% - 8px) 100%, 0% 100%);
  }

  .fairys_admin_breadcrumb.bg .fairys_admin_breadcrumb_item:last-child {
    -webkit-clip-path: polygon(0% 0%, 100% 1%, 100% 100%, 0% 100%, 8px 50%);
    clip-path: polygon(0% 0%, 100% 1%, 100% 100%, 0% 100%, 8px 50%);
  }
  .fairys_admin_breadcrumb.slash .fairys_admin_breadcrumb_item:last-child::after {
    content: '';
    display: none;
  }

  .fairys_admin_breadcrumb.bg .fairys_admin_breadcrumb_item:only-child {
    -webkit-clip-path: none;
    clip-path: none;
  }

  .fairys_admin_down_up_icon {
    --un-translate-x: 0;
    --un-translate-z: 0;
    --un-translate-y: 0;
    --un-rotate: 0;
    --un-rotate-x: 0;
    --un-rotate-y: 0;
    --un-rotate-z: 0;
    --un-skew-x: 0;
    --un-skew-y: 0;
    --un-scale-x: 1;
    --un-scale-y: 1;
    --un-scale-z: 1;
  }

  .fairys_admin_down_up_icon > div:after,
  .fairys_admin_down_up_icon > div:before {
    content: '';
    position: absolute;
    height: 1.5px;
    width: 6px;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    --un-translate-y: -1px;
    transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z))
      rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z))
      skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
      scaleZ(var(--un-scale-z));
  }

  .fairys_admin_down_up_icon > div.close:before {
    --un-rotate-x: 0;
    --un-rotate-y: 0;
    --un-rotate-z: 0;
    --un-rotate: 45deg;

    --un-translate-x: -2px;
    transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z))
      rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z))
      skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
      scaleZ(var(--un-scale-z));
  }

  .fairys_admin_down_up_icon > div.close:after {
    --un-rotate-x: 0;
    --un-rotate-y: 0;
    --un-rotate-z: 0;
    --un-rotate: -45deg;

    --un-translate-x: 2px;
    transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z))
      rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z))
      skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
      scaleZ(var(--un-scale-z));
  }

  .fairys_admin_down_up_icon > div.expand:before {
    --un-rotate-x: 0;
    --un-rotate-y: 0;
    --un-rotate-z: 0;
    --un-rotate: -45deg;

    --un-translate-x: -2px;
    transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z))
      rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z))
      skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
      scaleZ(var(--un-scale-z));
  }

  .fairys_admin_down_up_icon > div.expand:after {
    --un-rotate-x: 0;
    --un-rotate-y: 0;
    --un-rotate-z: 0;
    --un-rotate: 45deg;

    --un-translate-x: 2px;
    transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z))
      rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z))
      skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
      scaleZ(var(--un-scale-z));
  }

  /* fairys_admin_enter_loading */
  @keyframes fairys_enter_loading_transform {
    0% {
      --fairys-enter-loading-transform-color: #00a98e;
    }

    1.25% {
      --fairys-enter-loading-transform-color: #00a996;
    }

    2.5% {
      --fairys-enter-loading-transform-color: #00a99f;
    }

    3.75% {
      --fairys-enter-loading-transform-color: #00a9a7;
    }

    5% {
      --fairys-enter-loading-transform-color: #00a9b0;
    }

    6.25% {
      --fairys-enter-loading-transform-color: #00a9b8;
    }

    7.5% {
      --fairys-enter-loading-transform-color: #00a9c0;
    }

    8.75% {
      --fairys-enter-loading-transform-color: #00a8c7;
    }

    10% {
      --fairys-enter-loading-transform-color: #00a8cf;
    }

    11.25% {
      --fairys-enter-loading-transform-color: #00a7d5;
    }

    12.5% {
      --fairys-enter-loading-transform-color: #00a6dc;
    }

    13.75% {
      --fairys-enter-loading-transform-color: #00a6e2;
    }

    15% {
      --fairys-enter-loading-transform-color: #00a4e7;
    }

    16.25% {
      --fairys-enter-loading-transform-color: #00a3ec;
    }

    17.5% {
      --fairys-enter-loading-transform-color: #00a2f1;
    }

    18.75% {
      --fairys-enter-loading-transform-color: #00a0f4;
    }

    20% {
      --fairys-enter-loading-transform-color: #009ff7;
    }

    21.25% {
      --fairys-enter-loading-transform-color: #009dfa;
    }

    22.5% {
      --fairys-enter-loading-transform-color: #009bfc;
    }

    23.75% {
      --fairys-enter-loading-transform-color: #0098fd;
    }

    25% {
      --fairys-enter-loading-transform-color: #0096fd;
    }

    26.25% {
      --fairys-enter-loading-transform-color: #0093fd;
    }

    27.5% {
      --fairys-enter-loading-transform-color: #2e90fc;
    }

    28.75% {
      --fairys-enter-loading-transform-color: #4d8dfa;
    }

    30% {
      --fairys-enter-loading-transform-color: #638af8;
    }

    31.25% {
      --fairys-enter-loading-transform-color: #7587f5;
    }

    32.5% {
      --fairys-enter-loading-transform-color: #8583f1;
    }

    33.75% {
      --fairys-enter-loading-transform-color: #9280ed;
    }

    35% {
      --fairys-enter-loading-transform-color: #9f7ce9;
    }

    36.25% {
      --fairys-enter-loading-transform-color: #aa78e3;
    }

    37.5% {
      --fairys-enter-loading-transform-color: #b574dd;
    }

    38.75% {
      --fairys-enter-loading-transform-color: #be71d7;
    }

    40% {
      --fairys-enter-loading-transform-color: #c76dd1;
    }

    41.25% {
      --fairys-enter-loading-transform-color: #cf69c9;
    }

    42.5% {
      --fairys-enter-loading-transform-color: #d566c2;
    }

    43.75% {
      --fairys-enter-loading-transform-color: #dc63ba;
    }

    45% {
      --fairys-enter-loading-transform-color: #e160b3;
    }

    46.25% {
      --fairys-enter-loading-transform-color: #e65eab;
    }

    47.5% {
      --fairys-enter-loading-transform-color: #e95ca2;
    }

    48.75% {
      --fairys-enter-loading-transform-color: #ed5a9a;
    }

    50% {
      --fairys-enter-loading-transform-color: #ef5992;
    }

    51.25% {
      --fairys-enter-loading-transform-color: #f15989;
    }

    52.5% {
      --fairys-enter-loading-transform-color: #f25981;
    }

    53.75% {
      --fairys-enter-loading-transform-color: #f25a79;
    }

    55% {
      --fairys-enter-loading-transform-color: #f25c71;
    }

    56.25% {
      --fairys-enter-loading-transform-color: #f15e69;
    }

    57.5% {
      --fairys-enter-loading-transform-color: #ef6061;
    }

    58.75% {
      --fairys-enter-loading-transform-color: #ed635a;
    }

    60% {
      --fairys-enter-loading-transform-color: #eb6552;
    }

    61.25% {
      --fairys-enter-loading-transform-color: #e8694b;
    }

    62.5% {
      --fairys-enter-loading-transform-color: #e46c44;
    }

    63.75% {
      --fairys-enter-loading-transform-color: #e06f3d;
    }

    65% {
      --fairys-enter-loading-transform-color: #db7336;
    }

    66.25% {
      --fairys-enter-loading-transform-color: #d77630;
    }

    67.5% {
      --fairys-enter-loading-transform-color: #d17a2a;
    }

    68.75% {
      --fairys-enter-loading-transform-color: #cc7d24;
    }

    70% {
      --fairys-enter-loading-transform-color: #c6811e;
    }

    71.25% {
      --fairys-enter-loading-transform-color: #bf8418;
    }

    72.5% {
      --fairys-enter-loading-transform-color: #b98713;
    }

    73.75% {
      --fairys-enter-loading-transform-color: #b28a0f;
    }

    75% {
      --fairys-enter-loading-transform-color: #ab8d0c;
    }

    76.25% {
      --fairys-enter-loading-transform-color: #a3900b;
    }

    77.5% {
      --fairys-enter-loading-transform-color: #9c920d;
    }

    78.75% {
      --fairys-enter-loading-transform-color: #949510;
    }

    80% {
      --fairys-enter-loading-transform-color: #8b9715;
    }

    81.25% {
      --fairys-enter-loading-transform-color: #83991b;
    }

    82.5% {
      --fairys-enter-loading-transform-color: #7a9b21;
    }

    83.75% {
      --fairys-enter-loading-transform-color: #719d27;
    }

    85% {
      --fairys-enter-loading-transform-color: #679e2e;
    }

    86.25% {
      --fairys-enter-loading-transform-color: #5da035;
    }

    87.5% {
      --fairys-enter-loading-transform-color: #51a13c;
    }

    88.75% {
      --fairys-enter-loading-transform-color: #44a244;
    }

    90% {
      --fairys-enter-loading-transform-color: #34a44b;
    }

    91.25% {
      --fairys-enter-loading-transform-color: #1ba553;
    }

    92.5% {
      --fairys-enter-loading-transform-color: #00a65b;
    }

    93.75% {
      --fairys-enter-loading-transform-color: #00a663;
    }

    95% {
      --fairys-enter-loading-transform-color: #00a76c;
    }

    96.25% {
      --fairys-enter-loading-transform-color: #00a874;
    }

    97.5% {
      --fairys-enter-loading-transform-color: #00a87d;
    }

    98.75% {
      --fairys-enter-loading-transform-color: #00a985;
    }

    100% {
      --fairys-enter-loading-transform-color: #00a98e;
    }
  }

  .fairys_admin_enter_loading {
    animation: fairys_enter_loading_transform 20s linear infinite;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: var(--fairys-enter-loading-transform-color);
    user-select: none;
  }

  .fairys_admin_enter_loading *::before,
  .fairys_admin_enter_loading *::after {
    box-sizing: content-box;
  }
  .fairys_admin_enter_loading .fairys_admin_enter_loading-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
  }
  .fairys_admin_enter_loading .fairys_admin_enter_loading-main .square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
  }
  .fairys_admin_enter_loading .fairys_admin_enter_loading-main .square::before {
    width: 10px;
    height: 10px;
    content: '';
    border: 3px solid var(--fairys-enter-loading-transform-color);
    border-radius: 15%;
    animation: square-to-dot-animation 2s linear infinite;
  }
  .fairys_admin_enter_loading .fairys_admin_enter_loading-main .square:nth-child(1)::before {
    animation-delay: calc(150ms * 1);
  }
  .fairys_admin_enter_loading .fairys_admin_enter_loading-main .square:nth-child(2)::before {
    animation-delay: calc(150ms * 2);
  }
  .fairys_admin_enter_loading .fairys_admin_enter_loading-main .square:nth-child(3)::before {
    animation-delay: calc(150ms * 3);
  }
  .fairys_admin_enter_loading .fairys_admin_enter_loading-main .square:nth-child(4)::before {
    animation-delay: calc(150ms * 4);
  }
  @keyframes square-to-dot-animation {
    15%,
    25% {
      width: 0;
      height: 0;
      margin: 5px;
      border-width: 5px;
      border-radius: 100%;
    }
    40% {
      width: 10px;
      height: 10px;
      margin: initial;
      border-width: 3px;
      border-radius: 15%;
    }
  }
  .fairys_admin_enter_loading .name {
    position: relative;
    margin-top: 20px;
    font-size: 24px;
    line-height: 1.5;
  }
  .fairys_admin_enter_loading .tips {
    position: relative;
    margin-top: 10px;
    font-size: 16px;
    opacity: 0.5;
    line-height: 1.5;
  }
  .fairys_admin_enter_loading .loading-dots {
    display: inline-block;
    width: 20px;
    text-align: left;
  }

  .fairys_admin_enter_loading .loading-dots::after {
    content: '';
    animation: fairys_admin_enter_loading_dots 1.5s steps(4) infinite;
  }
  @keyframes fairys_admin_enter_loading_dots {
    0% {
      content: '';
    }
    25% {
      content: '.';
    }
    50% {
      content: '..';
    }
    75% {
      content: '...';
    }
    100% {
      content: '';
    }
  }

  .fairys_admin_full_screen_close {
    clip-path: inset(0% 0% 0% 0% round 0% 0% 0% 100%);
  }

  .fairys-spin {
    -webkit-animation: loadingCircle 1s infinite linear;
    animation: loadingCircle 1s infinite linear;
  }

  @keyframes loadingCircle {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
}
