html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  color: black;
}

@import 'tailwindcss';
@plugin "@iconify/tailwind4";

@theme {
  --fairys-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 6px -1px rgba(0, 0, 0, 0.02),
    0 2px 4px 0 rgba(0, 0, 0, 0.02);
  --theme-color: var(--color-blue-500, oklch(62.3% 0.214 259.815));
}

@layer base {
  .dark {
    background-color: black;
    color: var(--color-gray-400);
    transition-property: all;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
    --tw-duration: 0.3s;
    transition-duration: 0.3s;
  }
}

@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .no-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

  .fairys_admin_tab_bar .fairys_admin_tab_bar_item:not(:first-child)::before {
    content: '';
    width: 1px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--color-gray-300);
    height: 45%;
    transition: background-color 0.3s ease-in-out;
  }

  .fairys_admin_tab_bar .fairys_admin_tab_bar_item.active::before,
  .fairys_admin_tab_bar .fairys_admin_tab_bar_item.active + .fairys_admin_tab_bar_item::before {
    background-color: transparent !important;
  }

  .fairys_admin_breadcrumb .fairys_admin_breadcrumb_item {
    -webkit-clip-path: polygon(calc(100% - 8px) 0%, 100% 50%, calc(100% - 8px) 100%, 0% 100%, 8px 50%, 0% 0%);
    clip-path: polygon(calc(100% - 8px) 0%, 100% 50%, calc(100% - 8px) 100%, 0% 100%, 8px 50%, 0% 0%);
  }

  .fairys_admin_breadcrumb .fairys_admin_breadcrumb_item:first-child {
    -webkit-clip-path: polygon(0% 0%, calc(100% - 8px) 0%, 100% 50%, calc(100% - 8px) 100%, 0% 100%);
    clip-path: polygon(0% 0%, calc(100% - 8px) 0%, 100% 50%, calc(100% - 8px) 100%, 0% 100%);
  }

  .fairys_admin_breadcrumb .fairys_admin_breadcrumb_item:last-child {
    -webkit-clip-path: polygon(0% 0%, 100% 1%, 100% 100%, 0% 100%, 8px 50%);
    clip-path: polygon(0% 0%, 100% 1%, 100% 100%, 0% 100%, 8px 50%);
  }

  .fairys_admin_breadcrumb .fairys_admin_breadcrumb_item:only-child {
    -webkit-clip-path: none;
    clip-path: none;
  }

  .fairys_admin_menu_item_extra {
    --un-translate-x: 0;
    --un-translate-z: 0;
    --un-translate-y: 0;
    --un-rotate: 0;
    --un-rotate-x: 0;
    --un-rotate-y: 0;
    --un-rotate-z: 0;
    --un-skew-x: 0;
    --un-skew-y: 0;
    --un-scale-x: 1;
    --un-scale-y: 1;
    --un-scale-z: 1;
  }

  .fairys_admin_menu_item_extra > div:after,
  .fairys_admin_menu_item_extra > div:before {
    content: '';
    position: absolute;
    height: 1.5px;
    width: 6px;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    --un-translate-y: -1px;
    transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z))
      rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z))
      skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
      scaleZ(var(--un-scale-z));
  }

  .fairys_admin_menu_item_extra > div.close:before {
    --un-rotate-x: 0;
    --un-rotate-y: 0;
    --un-rotate-z: 0;
    --un-rotate: 45deg;
    transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z))
      rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z))
      skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
      scaleZ(var(--un-scale-z));

    --un-translate-x: -2px;
    transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z))
      rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z))
      skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
      scaleZ(var(--un-scale-z));
  }

  .fairys_admin_menu_item_extra > div.close:after {
    --un-rotate-x: 0;
    --un-rotate-y: 0;
    --un-rotate-z: 0;
    --un-rotate: -45deg;
    transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z))
      rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z))
      skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
      scaleZ(var(--un-scale-z));

    --un-translate-x: 2px;
    transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z))
      rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z))
      skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
      scaleZ(var(--un-scale-z));
  }

  .fairys_admin_menu_item_extra > div.expand:before {
    --un-rotate-x: 0;
    --un-rotate-y: 0;
    --un-rotate-z: 0;
    --un-rotate: -45deg;
    transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z))
      rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z))
      skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
      scaleZ(var(--un-scale-z));

    --un-translate-x: -2px;
    transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z))
      rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z))
      skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
      scaleZ(var(--un-scale-z));
  }

  .fairys_admin_menu_item_extra > div.expand:after {
    --un-rotate-x: 0;
    --un-rotate-y: 0;
    --un-rotate-z: 0;
    --un-rotate: 45deg;
    transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z))
      rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z))
      skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
      scaleZ(var(--un-scale-z));
    --un-translate-x: 2px;
    transform: translateX(var(--un-translate-x)) translateY(var(--un-translate-y)) translateZ(var(--un-translate-z))
      rotate(var(--un-rotate)) rotateX(var(--un-rotate-x)) rotateY(var(--un-rotate-y)) rotateZ(var(--un-rotate-z))
      skewX(var(--un-skew-x)) skewY(var(--un-skew-y)) scaleX(var(--un-scale-x)) scaleY(var(--un-scale-y))
      scaleZ(var(--un-scale-z));
  }
}
