/* Avatar */
.dark .fairys-admin-avatar {
  /* fairys:dark:hover:bg-gray-700 */
  --fairys-admin-avatar-hover-bg-color: var(--fairys-color-gray-700);
  /* fairys:dark:bg-gray-700 */
  --fairys-admin-avatar-bg-color: var(--fairys-color-gray-700);
  /* fairys:dark:text-gray-400 */
  --fairys-admin-avatar-text-color: var(--fairys-color-gray-400);
}
.dark .fairys-admin-avatar-info {
  /* fairys:dark:text-gray-500 */
  --fairys-admin-avatar-info-text-color: var(--fairys-color-gray-500);
  /* fairys:dark:text-gray-400 */
  --fairys-admin-avatar-info-name-text-color: var(--fairys-color-gray-400);
  /*fairys:dark:text-gray-500 */
  --fairys-admin-avatar-info-email-text-color: var(--fairys-color-gray-500);
}
.light .fairys-admin-avatar {
  /* fairys:hover:bg-gray-200 */
  --fairys-admin-avatar-hover-bg-color: var(--fairys-color-gray-200);
  /* fairys:bg-gray-200  */
  --fairys-admin-avatar-bg-color: var(--fairys-color-gray-200);
  /* fairys:text-gray-900*/
  --fairys-admin-avatar-text-color: var(--fairys-color-gray-900);
}
.light .fairys-admin-avatar-info {
  /* fairys:text-gray-300 */
  --fairys-admin-avatar-info-text-color: var(--fairys-color-gray-300);
  /* fairys:text-gray-900 */
  --fairys-admin-avatar-info-name-text-color: var(--fairys-color-gray-900);
  /*  fairys:text-gray-400  */
  --fairys-admin-avatar-info-email-text-color: var(--fairys-color-gray-400);
}
